{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Header</title> 
</head> 
<body>
    {% load account %}
    <header>  
        <nav>
            <div class="navbar">
                <div class="title"><p>Barangay Lala Proper</p></div>	
                <ul class="menu">
                    <li>
                    <a href="#">Services 🠻</a>
                    <ul class="dropdown">
                    <li><a href="#">Administrative </a></li>
                    <li><a href="#">Health </a></li>
                    </ul>
                    </li>

                    <li><a href="#">Contact</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Profile</a></li>
                    <li><a href="{% url 'logout' %}">Signout</a></li>
                </ul>
            </div>
        </nav>	
      </header>
    
</body>
</html>

