{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/bhw.css' %}">
{% endblock %}

<div class="wrapper">
    <div class="ac-top">
        <div class="ac-Left">
            <img src="../../static/images/lala-logo.jpg" alt="">
            <h3>Barangay Health Worker</h3>
        </div>
        <div class="ac-middle">
            
        </div>
        <div class="ac-right">
            <input type="" name="" id="HomeSearch" placeholder="Search"> 
            <div class="NotifAdmin">
              <img src="../../static/images/Bell-Notification--Streamline-Flex.png" alt="">
            </div>
        </div>
      
</div>