{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static './css/bhw.css' %}">
{% endblock %}


 
{% block content %}  
    {% include 'bhw/bhwTopnav.html' %}  

    
    <div class="MC-Bottom"> 
    {% include './bhwNav.html' %}  
        <div class="contents">
            <section id="content">
                <table>
                    <thead>
                        <tr>
                            <th>Username</th>
                            <th>Full Name</th>
                            <th>Purok</th>
                            <th>Date</th>
                            <th>Time</th>
                            <th>Phone Number</th>
                            <th>Details</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for schedule in schedules %}
                        <tr>
                            <td>{{ schedule.user.username }}</td>
                            <td>{{ schedule.fname }} {{ schedule.lname }}</td>
                            <td>{{ schedule.purok }}</td>
                            <td>{{ schedule.date }}</td>
                            <td>{{ schedule.time }}</td>
                            <td>{{ schedule.phonenum }}</td>
                            <td><a href="">View</a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                </table>
            </section>  
        
        </div>

    </div>

{% endblock %}