
<nav> 
    <div class="nav-content">
      <ul>
        <a href="{% url 'bhwDashboard'   %}">
          <li class="{% if request.path == '/bhwDashboard/' %}active{% endif %}">
            <div class="NavContainer">
              <img src="../../static/images/dash2.png" alt="">
            </div>
            <p>Home</p>
          </li>
        </a>  
  
        <a href="{% url 'bhwList' %}">
          <li class="{% if request.path == '/bhwList/' %}active{% endif %}">
            <div class="NavContainer">
              <img src="../../static/images/hworker.png" alt="">
            </div>
            <p>BHW List</p> 
          </li> 
        </a>

        <a href="{% url 'bhwService'   %}">
          <li class="{% if request.path == '/bhwService/' %}active{% endif %}">
            <div class="NavContainer">
              <img src="../../static/images/hservice.png" alt="">
            </div>
            <p>Health Services</p>    
          </li>
        </a>
  
    
        <a href="{% url 'bhwEvents' %}">
          <li class="{% if request.path == '/bhwEvents/' %}active{% endif %}">
            <div class="NavContainer">
              <img src="../../static/images/calendar.png" alt="">
            </div>
            <p>Events</p>
          </li>
        </a>

        <a href="{% url 'bhwOutbreak' %}">
          <li class="{% if request.path == '/bhwOutbreak/' %}active{% endif %}">
            <div class="NavContainer">
              <img src="../../static/images/health.png" alt="">
            </div>
            <p>Outbreaks</p>
          </li>
        </a>

        <a href="{% url 'bhwRecord'   %}">
          <li class="{% if request.path == '/bhwRecord/' %}active{% endif %}">
            <div class="NavContainer">
              <img src="../../static/images/medic.png" alt="">
            </div>
            <p>Health Record</p>
          </li>
        </a>

        <a href="{% url 'bhwMedic'   %}">
            <li class="{% if request.path == '/bhwMedic/' %}active{% endif %}">
              <div class="NavContainer">
                <img src="../../static/images/inventory.png" alt="">
              </div>
              <p>Medical Inventory</p>
            </li>
          </a>

        <a href="{% url 'addBhw' %}">
          <li class="{% if request.path == 'bhw/register' %}active{% endif %}">
            <div class="NavContainer">
              <img src="../../static/images/hworker.png" alt="">
            </div>
            <p>Add BHW</p>
          </li>
        </a>

        <a href="{% url 'logout' %}">
          <li>
            <div class="NavContainer">
              <img src="../../static/images/signout.png" alt="">
            </div>
            <p>Logout</p>
          </li>
        </a>
      </ul>
    </div>
</nav>
