{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/bhw.css' %}">
{% endblock %}

{% block content %}
   
<div class="adminContainer">
    <div class="ac-top">
        <div class="ac-Left">
            <img src="../../static/images/lala-logo.jpg" alt="">
            <h3>Barangay Health Worker</h3>
        </div>

        <div class="ac-middle">
        
        </div>

        <div class="ac-right">
            <input type="" name="" id="HomeSearch" placeholder="Search"> 
        </div>
    </div>
    <div class="MC-Bottom"> 
        {% include './bhwNav.html' %} 
            <section id="content">       
                    <table>
                        <thead>
                            <tr>  
                                <th>ID</th>
                                <th>Image</th>
                                <th>Service Name</th>  
                                <th>Service Description</th> 
                                <th>Requirements</th>
                                <th>Button</th>
    
                            </tr>
                        </thead>    
                        <tbody>
                            {% for x in bhwService %}
                            <tr>    
                                <td>{{ x.id }}</td>
                                <td>{% if x.picture %}<img src="{{ x.picture.url }}" width='150'/> {% endif %}</td>
                                <td>{{ x.service_name }}</td>             
                                <td>{{ x.service_description }}</td>
                                <td>{{ x.service_requirements }}</td>
                                <td>
                                        <a href="{% url 'update_healthservice' x.id %}"><button id="update-btn">Update</button></a>
                                        <a href="{% url 'delete_healthservice' x.id %}"><button id="delete-btn">Delete</button></a>
                                </td> 
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                <a href="{% url 'addHealthservice' %}" class="add">+</a>
            </section>  
    </div>
</div>
{% endblock %}
