* {
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
  font-family: "Montserrat", sans-serif;
  height: 90vh;
}

.adminContainer {
  width: 100%;
  height: 100%;
  background-color: #ffffff;
}


.ac-top {
  border-top: 1px solid #857b7b;
  border-bottom: 1px solid#857b7b;
  height: 2rem;
  display: flex;
  justify-content: center;
  padding: 0.5rem;
}

.ac-Bottom {
  height: 100%;
  padding: 0.5rem;
}

.ac-Left {
  width: 20%;
  display: flex;
  align-items: center;
}


.ac-Middle {
  width: 85%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ac-Right {
  width: 20%;
  display: flex;
  justify-content: space-evenly;
}
.ac-Left img {
  width: 2.6rem;
  height: 2.6rem;
  margin-right: 1rem;
}

.ac-Left h3 {
  color: #07192a;
  font-size: 0.9rem;
}

.admin-content {
padding: 1rem; /* Add some padding for better spacing */
background-color: #f9f9f9; /* Light background for contrast */
border-radius: 5px; /* Rounded corners */
margin: 1rem; /* Add some margin to separate it from other elements */
height: calc(90vh - 6rem); /* Adjust height based on the overall layout */
overflow-y: auto; /* Enable scrolling if content exceeds the height */
}

.admin-content h2 {
font-size: 1.5rem; /* Adjust font size for the heading */
color: #07192a; /* Match heading color with the existing design */
margin-bottom: 0.5rem; /* Space below the heading */
}

.admin-content p {
font-size: 1rem; /* Adjust font size for the paragraph */
color: #333; /* Dark gray color for the text */
line-height: 1.5; /* Improve readability */
}

.MCT-Right input {
  background-color: var(--input-bg);
  border: none;
  padding: 0.7rem;
  width: 70%;
  border: 1px solid var(--container-border);
  border-radius: 5px;
}
nav {
  width: 15%;
  height: 100%;
  border-right: 1px solid #d7dde0;
  display: flex;
  flex-direction: column;
}

.nav-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

nav ul li {
  display: flex;
  align-items: center;
  padding: 0.5rem;
  font-size: 0.85rem;
}

.NavContainer {
  padding: 0.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #d7dde0;
  border-radius: 5px;
  margin-right: 0.8rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

nav ul li img {
  width: 1.5rem;
  height: 1.5rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

nav ul li p {
  font-weight: 560;
  color:#0a0a0a;
}

nav ul li:hover {
  cursor: pointer;
  background-color: #f3f3f3;
  color: black;
}


nav ul a {
  text-decoration: none;
}
