*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #F2F2F2;
}
/*----------------------Navbar-----------------------*/
html {
	scroll-behavior: smooth;
  }

nav{
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 60px;
	/*background: linear-gradient(#7BC9FF,#7EA1FF);*/
    background: #fff;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
 	z-index: 1;
}
nav .navbar{
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 100%;
	max-width: 95%;
	margin: auto;
}   
nav .navbar .title p{
	font-family: sans-serif;	
	font-size: 35px;
	font-weight: 600;
	text-decoration: none;
  }
nav .navbar .menu{
	display: flex;
}
.navbar .menu li{
	list-style: none;
	margin: 0 15px;     
}           
.navbar .menu li a{
	color: rgb(0, 0, 0);
	text-decoration: none;
	font-weight: 500px;
	font-size: 25px;
	text-transform: capitalize;
    font-weight: bold;
}

.navbar ul li a:hover{			
	color: rgb(31, 99, 244);
    text-decoration: underline;
	transition: .4s;
}

/*----------------------Drowpdown-----------------------*/

/*-------------login wrapper----------------------*/
.wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FDFDFD;
  margin: auto;
  padding: 1rem;
  width: 45%;
  border-radius: 25px;
  box-shadow:  rgba(0,0,0,0.1);
 
}
.container {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    align-items: center;
   
  }

  .l-top {
    margin-top: 2rem;
    width: 100%;
  }

  .input-group {
    width: 100%;
    margin-bottom: 15px;
  }

  .google-btn {
    width: 100%;
    padding: 0.8rem 1rem;
    background-color: #F2F2F2;
    border: 1px solid #DCDCDE;
    font-family: "Montserrat", sans-serif;
    font-size: 0.9rem;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
  }

  .google-btn img{
    width: 1rem;
    height: 1rem;
    margin-right: 0.8rem;
  }

  .LoginMiddle{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
  }

  .divider {
    display: flex;
    align-items: center;
    text-align: center;
    width: 80%;
    padding: 2rem;
    margin-right: 1rem;
  }

.divider::before,
.divider::after {
  width: 100%;
  content: '';
  border-bottom: 1px solid #DCDCDE;
}

.divider span {
  font-size: 14px;
  color: #0D0D0F;
}

.LoginTop {
    display: flex;
    align-items: start;
    justify-content: center;
    width: 80%;
    flex-direction: column;
  }

  .LoginTop h2 {
    font-family: "Montserrat", sans-serif;
    font-size: 1.3rem;
  }
  
  .LoginTop p {
    font-family: "Montserrat", sans-serif;
    font-size: 0.9rem;
    margin-top: -0.5rem;
    font-weight: 600;
  }

  .login {
    width: 45%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  
  .login form {
    width: 95%;
    display: flex;
    flex-direction: column;
  
  }

  h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
  }
  
  /* Input field */
  input[type="text"],
  input[type="password"],
  input[type="username"],
  input[type="email"],
  input[type="password2"] {
    width: 100%;
    padding: 1rem 1rem;
    border: none;
    border-bottom: 2px solid #ccc;
    border-radius: 0;
    font-weight: 600;
    outline: none;
    font-family: "Montserrat", sans-serif;
    font-size: 0.9rem;
  }

  .login-btn {
    margin-top: 1rem;
    width: 100%;
    padding: 0.8rem 1rem;
    background-color: #1834E7;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    font-family: "Montserrat", sans-serif;
    font-size: 0.9rem;
    transition: background-color 0.3s;
  }
  
  .login-btn:hover {
    background-color: #0b1e9a;
  }

  .l-bot a {
    color: rgb(39, 6, 252);
    text-decoration: none;
    font-size: 1rem;
  
  }
  
  .l-bot {
    margin-top: 2rem;
    padding-top: 8px;
    font-family: "Montserrat", sans-serif;
    font-size: 0.9rem;
    font-weight: 600;
  }
  

  /*
 
  .pic {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .pic img {
    width: 80%;
    height: 50vh;
    border-radius: 10px;
  }
*/

.pic {
  width: 45%; 
  margin: 20px auto; 
  text-align: center; 
}

.pic img {
  width: 100%; 
  height: auto; 

}


/*-----register---------*/
.r-bot a {
    color: rgb(39, 6, 252);
    text-decoration: none;
    font-size: 1rem;
  
  }
  
  .r-bot p {
    margin-top: 2rem;
    padding-top: 8px;
    font-family: "Montserrat", sans-serif;
    font-size: 0.9rem;
    font-weight: 600;
  }
  
  .signup-btn {
    margin-top: 1rem;
    width: 100%;
    padding: 0.8rem 1rem;
    background-color: #1834E7;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    font-family: "Montserrat", sans-serif;
    font-size: 0.9rem;
    transition: background-color 0.3s;
  }
  
  .signup-btn:hover {
    background-color: #0b1e9a;
  }
  




/* Error message style */
.message.error p {
    background-color: #e74c3c;
    border-left: 5px solid #c0392b;
}

/* Success message style */
.message.success {
    background-color: #2ecc71;
    border-left: 5px solid #27ae60;
}
/*

.container{
    width: 100%;
    display: flex;
    width: 850px;
    height: 650px;
    background: #FDFDFD;
    border-radius: 15px;
    box-shadow: 3px 9px 19px 3px rgba(0,0,0,0.1);
}


.login{
    width: 400px;
}
.login form{
    width: 250px;
    margin: 60px auto;
}
.login h1{
    margin: 20px;
    text-align: center;
    font-weight: bolder;
    text-transform: uppercase;
}   
.login p{
    text-align: center;
    margin: 10px;
}

.login hr{
    border-top: 2px solid rgb(16, 16, 17);
}

.login{
    width: 400px;
}
.login form{
    width: 250px;
    margin: 25px auto;
}   
.login h1{
    margin: 20px;
    text-align: center;
    font-weight: bolder;
    text-transform: uppercase;
}

.login hr{
    border-top: 1px solid rgb(0, 0, 0);
}

.pic img{
    width: 500px;
    height: 100%;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}
.pic1 img{
    width: 400px;
    height: 100%;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}
.login form label{
    display: block;
    font-size: 16px;
    font-weight: 600;
    padding: 15px;
}
.login input{
    width: 100%;    
    border: none;
    outline: none;
    padding: 20px;
    border-bottom: 1px solid gray;
}
.login #button{
    border: none;
    outline: none;
    padding: 8px;
    width: 252px;
    color: #fff;
    font-size: 16px;        
    cursor: pointer;
    margin-top: 20px;
    border-radius: 5px;
    background: rgb(0, 0, 0);
}
.login #button:hover{
    background: rgb(42, 1, 249);
}

.home{
    margin: 15px;
}
.text{  
    margin: 11px;
}
.l-bot a{
    color: rgb(39, 6, 252);
    text-decoration: none;
}
#titles p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
}   
    


/*